<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	
</head>
<body id="page-top">
	<!-- Header -->
	<header>
    <div class="container">
      <h2>Enviar mensaje masivo</h2>
      <form action="/enviar_mail" class="form" method="POST">
        <div class="row">
          <div class="col-md-5">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </div>
      </form>
        <h3><a href="/enviar_especifico">Enviar uno sólo al Apu</a></h3>
    </div>
  </header>
</body>
</html>